body,
header {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: white;
}
h1,
p,
h2 {
  color: white;
  font-weight: 700;
}

p {
  font-weight: 500;
  font-size: 15px;
  color: lightgray;
}

.dropdown button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
}

.dropdown a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: orangered;
  min-width: 100px;
}

/* Если наводим курсор на класс dropdown, то отображаем класс content */
/* Типо до этого от dropdown мы видим только button */
.dropdown:hover .content {
  display: block;
  z-index: 1;
}

.dropdown:hover button {
  text-decoration: underline;
  text-decoration-color: orangered;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

/* .background-clip{
    position: absolute;
    z-index: -1;
    width: 100%;
} */

.video-container {
  width: 100%;
  position: relative;
  z-index: 0;
}

.video-content {
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 5px 10px;
}
#video1 {
  margin: 0px;
  display: block;
  width: 100%;
  filter: brightness(40%);
}

#Logo {
  padding: 30px 5px;
  margin: 0px;
  width: 20%;
}
img {
  width: 100%;
}
#navigation {
  padding: 20px 5px;
  margin: 0px;
}

.achievements {
  border-left: 3px solid orangered;
  margin-right: 5px;
  margin-left: 5px;
  height: 150px;
  margin-bottom: 20px;
  width: 100%;
  align-content: center;
}

.achievements-bottom {
  border-left: 3px solid orangered;
  margin-right: 5px;
  margin-left: 5px;
  height: 150px;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 70px;
  align-content: center;
}

#cup {
  height: auto;
  width: 60%;
  margin-bottom: 20px;
  margin-top: 0px;
}

#First {
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 70px;
}

.under-navbar-section {
  margin-top: 80px;
  height: 300px;
}
.achievements-container {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}

.column {
  flex: 1 1 33%;
  height: 300px;
}

.exc {
  position: absolute;
  top: -45px;
  width: 30%;
}

.tarif {
  width: 200px;
  height: 50px;
  color: white;
  background-color: transparent;
  border: solid;
  border-color: orangered;
}

.tarif:hover {
  background-color: orangered;
}
